<div class="dialog-container">
  <span style="display: block" class="dialog-message">{{message}}</span>

<div class="dialog-footer">
  
  <ul>
  <!--<p-button label="Yes" (click)="onClick('YES')"></p-button>-->
  <!--<p-button label="No" (click)="onClick('NO')"></p-button>-->
    <li><p-button label="OK" (click)="onClick('OK')"></p-button></li>
    <li><p-button label="Cancel" (click)="onClick('CANCEL')"></p-button></li>
  <!--<p-button label="Abort" (click)="onClick('ABORT')"></p-button>-->
  <!--<p-button label="Retry" (click)="onClick('RETRY')"></p-button>-->
  <!--<p-button label="Ignore" (click)="onClick('IGNORE')"></p-button>-->
  </ul>
</div>
</div>